body { /* couleur, écriture et taille de l'écriture de la page */
    background-color: #000000;
    color: #FFFFFF;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 15px;
}
code {
    color: #BF2314;
}
p, ul li, td {
    color: #808080;
}
.gras{
    font-weight: bold;
}
.donnees{
    color: #FFFFFF;
}
.citation{
    color: darkorchid;
}
.titre{
    color:darkmagenta;
    text-align: center;
}
.profil{ /* centrer mon image de profil */
    display: block;
    margin-left: auto;
    margin-right: auto;
}